<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Custom.WSHTTPBinding.Configuration" maxReceivedMessageSize="50000000">
          <readerQuotas maxStringContentLength="50000000" maxArrayLength="50000000"/>
          <security mode="None">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4345/AuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="Custom.WSHTTPBinding.Configuration" contract="Avantik.Web.Service.Contracts.IAuthenticationService" />
      <endpoint address="http://localhost:4345/ManageBookingService.svc" binding="wsHttpBinding" bindingConfiguration="Custom.WSHTTPBinding.Configuration" contract="Avantik.Web.Service.Contracts.IManageBookingService"/>
      <endpoint address="http://localhost:4345/BookingService.svc" binding="wsHttpBinding" bindingConfiguration="Custom.WSHTTPBinding.Configuration" contract="Avantik.Web.Service.Contracts.IBookingService"/>
      <endpoint address="http://localhost:4345/SystemService.svc" binding="wsHttpBinding" bindingConfiguration="Custom.WSHTTPBinding.Configuration" contract="Avantik.Web.Service.Contracts.ISystemService"/>
      <endpoint address="http://localhost:4345/FlightService.svc" binding="wsHttpBinding" bindingConfiguration="Custom.WSHTTPBinding.Configuration" contract="Avantik.Web.Service.Contracts.IFlightService"/>
    </client>
  </system.serviceModel>
</configuration>