<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ErrorLog" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ComplusSetting" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="UseCOM" value="true"/>
    <add key="UseCOMAvailability" value="true"/>
    <add key="strKey" value="Ar@v017"/>
    <add key="strTimeOut" value="9000000"/>
    <add key="ServerName" value="Wksecuretest"/>
    <add key="SQLConnectionString" value="Data Source=192.168.10.201;Initial Catalog=AVANTIK_EDW_PROD_230521;Persist Security Info=False;User ID=sa;Password=password"/>
    <add key="RESTURL" value="https://localhost:7021/"/>
    <add key="restAgency" value="DLXAPI"/>
    <add key="restPassword" value="dlxapi"/>
  </appSettings>
  <ComplusSetting>
    <add key="ComServer" value=""/>
    <add key="ComUser" value=""/>
    <add key="ComPassword" value=""/>
    <add key="ComDomain" value=""/>
  </ComplusSetting>
  <!--Cofiguration for Error email log-->
  <ErrorLog>
    <add key="application" value="Web Service"/>
    <add key="airline" value="EDW"/>
    <add key="logtype" value="MAIL"/>
    <add key="SmtpServer" value="mail.tikaero.com"/>
    <add key="ErrorTo" value="web.errors@bravo.aero"/>
    <add key="LogPath" value="C:\AVANTIK_Web\Wksecuretest\BookingAPI\apilog"/>
    <add key="dllPath" value="C:\DLLs"/>
  </ErrorLog>
  <system.web>

    <globalization uiCulture="en-US" culture="en-US" enableClientBasedCulture="false" />

    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

  
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="Custom.BasicHTTPBinding.Configuration"
                 maxBufferPoolSize="655360"
                 maxReceivedMessageSize="655360">
          <security mode="None"/>
        </binding>
        <binding name="Custom.BasicHTTPSBinding.Configuration"
                 maxBufferPoolSize="655360"
                 maxReceivedMessageSize="655360">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Custom.WSHTTPBinding.Configuration" maxBufferPoolSize="655360" maxReceivedMessageSize="655360">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="BookingServiceBehaviors" name="Avantik.Web.Service.OrderingBookingService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Avantik.Web.Service.Contracts.IOrderingBookingService"
                  bindingConfiguration="Custom.BasicHTTPSBinding.Configuration">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
                  contract="Avantik.Web.Service.Contracts.IOrderingBookingService"
                  bindingConfiguration="Custom.BasicHTTPBinding.Configuration">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BookingServiceBehaviors">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"
                           httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
                               multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>